name: Build documentation

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write
  pages: write
  contents: write

env:
  INSTANCE: 'Writerside/gnss-ir-version-docs'
  DOCKER_VERSION: '2025.04.8412'
  IS_GROUP: 'true'  # Uncomment to build a group

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      artifact: ${{ steps.define-ids.outputs.artifact }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Define instance id and artifacts
        id: define-ids
        run: |
          INSTANCE=${INSTANCE#*/}
          INSTANCE_ID_UPPER=$(echo "$INSTANCE" | tr '[:lower:]' '[:upper:]')
          ARTIFACT="webHelp${INSTANCE_ID_UPPER}2-all.zip"

          # Print the values
          echo "INSTANCE_ID_UPPER: $INSTANCE_ID_UPPER"
          echo "ARTIFACT: $ARTIFACT"

          # Set the environment variables and outputs
          echo "INSTANCE_ID_UPPER=$INSTANCE_ID_UPPER" >> $GITHUB_ENV
          echo "ARTIFACT=$ARTIFACT" >> $GITHUB_ENV
          echo "artifact=$ARTIFACT" >> $GITHUB_OUTPUT

      - name: Build docs using Writerside Docker builder
        uses: JetBrains/writerside-github-action@v4
        with:
          instance: ${{ env.INSTANCE }}
          docker-version: ${{ env.DOCKER_VERSION }}
          is-group: ${{ env.IS_GROUP }}

      - name: Add versions.json file
        run: |
          sudo zip -u /github/workspace/artifacts/${{ steps.define-ids.outputs.artifact }} versions.json

      - name: Save artifact with build results
        uses: actions/upload-artifact@v5
        with:
          name: docs
          path: artifacts/*
          retention-days: 7

  build-pdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build PDF using Writerside Docker builder
        uses: JetBrains/writerside-github-action@v4
        with:
          docker-version: ${{ env.DOCKER_VERSION }}
          instance: "Writerside/${{ github.ref_name }}"
          pdf: 'pdf.xml'

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v5
        with:
          name: pdf
          path: artifacts/*.pdf
          retention-days: 7

  create-release:
    needs:
      - build-pdf
    runs-on: ubuntu-latest
    steps:
      - name: Download PDF artifact
        uses: actions/download-artifact@v6
        with:
          name: pdf
          path: artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/*.pdf
          body: "Automated release of PDF documentation for ${{ github.ref_name }}. The PDF file is below the release notes
          as an attachment. The online version of these docs can be found at https://${{ github.repository_owner }}.github.io/${{ github.repository_id }}/"

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: docs
          path: artifacts

      - name: Unzip artifact
        run: unzip -O UTF-8 -qq "artifacts/${{ needs.build.outputs.artifact }}" -d dir

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Package and upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dir

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4